body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#layout {
    position: relative;
    min-height: 100vh;
}

#header {
    color: #fff;
    background-color: #1e2842;; 
    height: 110px;

}

#content {
    padding-bottom: 2.5rem; 
    display:flex; 
    flex-direction:row;
    background-color: #141a2c; 
}

#leftColumn {
  margin-top: 1em;
  margin-left: 10px;
}

#centralColumn {
  margin-top: 1.3em;
  margin-bottom: 2.5em;
  padding-left: 3em;
  padding-right: 3em;
  width: 100%; 
}

/* #configList {
  display: flex; 
  align-items: center;
  justify-content: center;
} */

#rightColumn {
  margin-top: 1em;
  margin-right: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    text-align: center;
    color: #fff;
    background-color: #1e2842;
}

.label_add_slide {
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}

#label_image_uploads {
  display:inline; 
  float:left;
  background-color: #7f9ccb;
}

#label_image_uploads:hover {
  background-color: #2d5ba3;
  color: white;
}

#label_image_uploads:active {
  background-color: #0d3f8f;
  color: white;
}